tests/Node-RED.json
[{"id":"4fa5abc2.2b72a4","type":"tab","label":"Users","disabled":false,"info":""},{"id":"5e6b9405.c6a6bc","type":"tab","label":"Players","disabled":false,"info":""},{"id":"85960143.23051","type":"tab","label":"Teams","disabled":false,"info":""},{"id":"bfded8a5.40abc8","type":"tab","label":"Teams/Players","disabled":false,"info":""},{"id":"f47c9f9c.37e56","type":"http request","z":"5e6b9405.c6a6bc","name":"GET /players","method":"GET","ret":"obj","url":"{{{URL}}}/players","tls":"","x":650,"y":200,"wires":[["f6c3813f.615d5"]]},{"id":"b13a60d.8eb04a","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["2e268c68.122b84"]]},{"id":"733c3d36.c43dd4","type":"debug","z":"5e6b9405.c6a6bc","name":"200","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":200,"wires":[]},{"id":"2e268c68.122b84","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["f47c9f9c.37e56"]]},{"id":"a99ae82b.ae5808","type":"inject","z":"5e6b9405.c6a6bc","name":"New Player","topic":"","payload":"{\"name\":\"New Player\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["872d75d6.574928"]]},{"id":"f6c3813f.615d5","type":"change","z":"5e6b9405.c6a6bc","name":"","rules":[{"t":"set","p":"next","pt":"flow","to":"payload.next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":200,"wires":[["733c3d36.c43dd4"]]},{"id":"d3ffd4cf.9fbcc8","type":"http request","z":"5e6b9405.c6a6bc","name":"GET /players using cursor","method":"GET","ret":"obj","url":"{{{URL}}}","tls":"","x":690,"y":260,"wires":[["534f2ea7.fe972"]]},{"id":"572774eb.f6767c","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["d2120cd2.4d3d"]]},{"id":"d1a208db.5e2ad8","type":"debug","z":"5e6b9405.c6a6bc","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":260,"wires":[]},{"id":"d2120cd2.4d3d","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"next","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":260,"wires":[["93a02858.e317e8"]]},{"id":"534f2ea7.fe972","type":"change","z":"5e6b9405.c6a6bc","name":"","rules":[{"t":"set","p":"next","pt":"flow","to":"payload.next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":260,"wires":[["d1a208db.5e2ad8"]]},{"id":"4c6e4d9d.7b53e4","type":"http request","z":"5e6b9405.c6a6bc","name":"DELETE /players/{player}","method":"DELETE","ret":"txt","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":690,"y":740,"wires":[["d99dc4b.8770838"]]},{"id":"74bc2b0a.2b79f4","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":740,"wires":[["a88e4995.f140b8"]]},{"id":"d99dc4b.8770838","type":"debug","z":"5e6b9405.c6a6bc","name":"204, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":740,"wires":[]},{"id":"a88e4995.f140b8","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":740,"wires":[["4c6e4d9d.7b53e4"]]},{"id":"9f6853d0.e34e","type":"http request","z":"5e6b9405.c6a6bc","name":"GET /players/{player}","method":"GET","ret":"obj","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":680,"y":440,"wires":[["c36c60e5.04bc7"]]},{"id":"ee7d4f9f.1976a","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["6d6a97c3.445318"]]},{"id":"c36c60e5.04bc7","type":"debug","z":"5e6b9405.c6a6bc","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":440,"wires":[]},{"id":"6d6a97c3.445318","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":440,"wires":[["9f6853d0.e34e"]]},{"id":"2d411f0d.96a09","type":"http request","z":"5e6b9405.c6a6bc","name":"DELETE /players","method":"DELETE","ret":"txt","url":"{{{URL}}}/players","tls":"","x":670,"y":980,"wires":[["9a5d27c6.79e148"]]},{"id":"cf5177a5.19e1d8","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":980,"wires":[["8cd2e275.62083"]]},{"id":"9a5d27c6.79e148","type":"debug","z":"5e6b9405.c6a6bc","name":"405","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":980,"wires":[]},{"id":"8cd2e275.62083","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":980,"wires":[["2d411f0d.96a09"]]},{"id":"30e4c580.a18fba","type":"http request","z":"5e6b9405.c6a6bc","name":"PUT /players/{player}","method":"PUT","ret":"txt","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":680,"y":620,"wires":[["8924ffd.3a7e7"]]},{"id":"f99b2a9e.7748f8","type":"inject","z":"5e6b9405.c6a6bc","name":"Edit Player","topic":"","payload":"{\"name\":\"Edited Player\",\"height\":1,\"age\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":620,"wires":[["8dfc3bf6.9f6908"]]},{"id":"83a05aa6.8159f8","type":"debug","z":"5e6b9405.c6a6bc","name":"303, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":620,"wires":[]},{"id":"8dfc3bf6.9f6908","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":620,"wires":[["30e4c580.a18fba"]]},{"id":"8924ffd.3a7e7","type":"change","z":"5e6b9405.c6a6bc","name":"","rules":[{"t":"set","p":"location","pt":"flow","to":"headers.location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":620,"wires":[["83a05aa6.8159f8"]]},{"id":"8e32afdc.be55a","type":"http request","z":"5e6b9405.c6a6bc","name":"GET player using location","method":"GET","ret":"obj","url":"{{{URL}}}","tls":"","x":690,"y":560,"wires":[["de253b61.de9f78"]]},{"id":"209d388b.d08058","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["28d5beac.338192"]]},{"id":"de253b61.de9f78","type":"debug","z":"5e6b9405.c6a6bc","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":560,"wires":[]},{"id":"28d5beac.338192","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"location","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":560,"wires":[["8e32afdc.be55a"]]},{"id":"85af8f63.25266","type":"http request","z":"5e6b9405.c6a6bc","name":"PUT /players","method":"PUT","ret":"txt","url":"{{{URL}}}/players","tls":"","x":650,"y":1040,"wires":[["28cc68d2.c015a8"]]},{"id":"d4645504.3a00b8","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1040,"wires":[["38d082e8.38834e"]]},{"id":"28cc68d2.c015a8","type":"debug","z":"5e6b9405.c6a6bc","name":"405","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1040,"wires":[]},{"id":"38d082e8.38834e","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1040,"wires":[["85af8f63.25266"]]},{"id":"8fb7cb80.a30988","type":"http request","z":"5e6b9405.c6a6bc","name":"GET /players","method":"GET","ret":"txt","url":"{{{URL}}}/players","tls":"","x":650,"y":1180,"wires":[["a8e5ecaa.376aa"]]},{"id":"d31048c4.4e9408","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1180,"wires":[["61d0235e.43b05c"]]},{"id":"a8e5ecaa.376aa","type":"debug","z":"5e6b9405.c6a6bc","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1180,"wires":[]},{"id":"61d0235e.43b05c","type":"change","z":"5e6b9405.c6a6bc","name":"No Token","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1180,"wires":[["8fb7cb80.a30988"]]},{"id":"8df937da.82c2b8","type":"http request","z":"5e6b9405.c6a6bc","name":"POST /players","method":"POST","ret":"txt","url":"{{{URL}}}/players","tls":"","x":660,"y":1300,"wires":[["331dec22.a40324"]]},{"id":"ac0314ff.1535a8","type":"inject","z":"5e6b9405.c6a6bc","name":"New Player","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1300,"wires":[["7f99757b.9a3dac"]]},{"id":"5545da6e.bb7f74","type":"http request","z":"5e6b9405.c6a6bc","name":"GET /players using cursor","method":"GET","ret":"txt","url":"{{{URL}}}","tls":"","x":690,"y":1240,"wires":[["948b29c0.335fd8"]]},{"id":"54951065.4194d","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1240,"wires":[["2ee28a4a.0663d6"]]},{"id":"4d37f8af.d01fe8","type":"http request","z":"5e6b9405.c6a6bc","name":"DELETE /players/{player}","method":"DELETE","ret":"txt","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":690,"y":1540,"wires":[["6c7e8d43.4eddb4"]]},{"id":"31dc6b7d.ec97b4","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1540,"wires":[["85932de3.a1644"]]},{"id":"c13867d.11d0498","type":"http request","z":"5e6b9405.c6a6bc","name":"GET /players/{player}","method":"GET","ret":"txt","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":680,"y":1360,"wires":[["f1cf082b.764788"]]},{"id":"91dd3e93.d627e","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1360,"wires":[["fe00f728.054978"]]},{"id":"fe00f728.054978","type":"change","z":"5e6b9405.c6a6bc","name":"No token","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1360,"wires":[["c13867d.11d0498"]]},{"id":"aca92973.3e2698","type":"http request","z":"5e6b9405.c6a6bc","name":"PUT /players/{player}","method":"PUT","ret":"txt","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":680,"y":1480,"wires":[["f0a88e80.d0a0f"]]},{"id":"efd6f64b.1b7398","type":"inject","z":"5e6b9405.c6a6bc","name":"Edit Player","topic":"","payload":"{\"name\":\"Not John\",\"height\":1,\"age\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1480,"wires":[["14d90fbb.5aaf1"]]},{"id":"cd0c14ee.ecadf8","type":"http request","z":"5e6b9405.c6a6bc","name":"GET player using location","method":"GET","ret":"txt","url":"{{{URL}}}","tls":"","x":690,"y":1420,"wires":[["242f1548.441eea"]]},{"id":"6c0e4b1b.6896e4","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1420,"wires":[["80fe3fdc.b83e9"]]},{"id":"9bcd65f7.8c77c8","type":"http request","z":"5e6b9405.c6a6bc","name":"GET /players","method":"GET","ret":"txt","url":"{{{URL}}}/players","tls":"","x":650,"y":1680,"wires":[["aa933a0a.775ba8"]]},{"id":"251e4687.f9258a","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1680,"wires":[["120ac315.a5144d"]]},{"id":"aa933a0a.775ba8","type":"debug","z":"5e6b9405.c6a6bc","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1680,"wires":[]},{"id":"120ac315.a5144d","type":"change","z":"5e6b9405.c6a6bc","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1680,"wires":[["9bcd65f7.8c77c8"]]},{"id":"dfcbeda2.2bed5","type":"http request","z":"5e6b9405.c6a6bc","name":"POST /players","method":"POST","ret":"txt","url":"{{{URL}}}/players","tls":"","x":660,"y":1800,"wires":[["e48ca14f.7e7c5"]]},{"id":"c9ea472.7ec93b8","type":"inject","z":"5e6b9405.c6a6bc","name":"New Player","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1800,"wires":[["199c3648.d9101a"]]},{"id":"3a5899da.428066","type":"http request","z":"5e6b9405.c6a6bc","name":"GET /players using cursor","method":"GET","ret":"txt","url":"{{{URL}}}","tls":"","x":690,"y":1740,"wires":[["fb17950a.211f28"]]},{"id":"b5ac6113.1153","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1740,"wires":[["d0025837.f07d38"]]},{"id":"b1d3d26e.59fd","type":"http request","z":"5e6b9405.c6a6bc","name":"DELETE /players/{player}","method":"DELETE","ret":"txt","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":690,"y":2040,"wires":[["fcbc52a6.e6eb4"]]},{"id":"48cc0092.0f9d6","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2040,"wires":[["efaf7694.00c508"]]},{"id":"6c13f66d.dbf618","type":"http request","z":"5e6b9405.c6a6bc","name":"GET /players/{player}","method":"GET","ret":"txt","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":680,"y":1860,"wires":[["3681d1a2.596d7e"]]},{"id":"3b0ca06c.1325","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1860,"wires":[["fe0de6d7.d862d8"]]},{"id":"fe0de6d7.d862d8","type":"change","z":"5e6b9405.c6a6bc","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1860,"wires":[["6c13f66d.dbf618"]]},{"id":"fa66eb70.066268","type":"http request","z":"5e6b9405.c6a6bc","name":"PUT /players/{player}","method":"PUT","ret":"txt","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":680,"y":1980,"wires":[["1f115e23.ea9982"]]},{"id":"81a91cfc.e3e99","type":"http request","z":"5e6b9405.c6a6bc","name":"GET player using location","method":"GET","ret":"txt","url":"{{{URL}}}","tls":"","x":690,"y":1920,"wires":[["8906167d.5062d8"]]},{"id":"57b51e61.f4fff","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1920,"wires":[["4ed730eb.c8493"]]},{"id":"d0025837.f07d38","type":"change","z":"5e6b9405.c6a6bc","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"next","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1740,"wires":[["7122935d.a1fe9c"]]},{"id":"199c3648.d9101a","type":"change","z":"5e6b9405.c6a6bc","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":301.25,"y":1800,"wires":[["dfcbeda2.2bed5"]]},{"id":"e044a92d.9a8f58","type":"inject","z":"5e6b9405.c6a6bc","name":"Edit Player","topic":"","payload":"{\"name\":\"Not John\",\"height\":1,\"age\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1980,"wires":[["f5b034f1.088b48"]]},{"id":"4ed730eb.c8493","type":"change","z":"5e6b9405.c6a6bc","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"location","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1920,"wires":[["81a91cfc.e3e99"]]},{"id":"f5b034f1.088b48","type":"change","z":"5e6b9405.c6a6bc","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1980,"wires":[["fa66eb70.066268"]]},{"id":"efaf7694.00c508","type":"change","z":"5e6b9405.c6a6bc","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2040,"wires":[["b1d3d26e.59fd"]]},{"id":"2ee28a4a.0663d6","type":"change","z":"5e6b9405.c6a6bc","name":"No Token","rules":[{"t":"set","p":"URL","pt":"msg","to":"next","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1240,"wires":[["51630b1c.1035b4"]]},{"id":"7f99757b.9a3dac","type":"change","z":"5e6b9405.c6a6bc","name":"No Token","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1300,"wires":[["8df937da.82c2b8"]]},{"id":"f1f0b6c7.fc0cf8","type":"comment","z":"5e6b9405.c6a6bc","name":"Bad requests below; Possible response codes on right","info":"All requests below are designed to return fail.\n\nExpected error codes on right.","x":220,"y":920,"wires":[]},{"id":"948b29c0.335fd8","type":"debug","z":"5e6b9405.c6a6bc","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1240,"wires":[]},{"id":"331dec22.a40324","type":"debug","z":"5e6b9405.c6a6bc","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1300,"wires":[]},{"id":"f1cf082b.764788","type":"debug","z":"5e6b9405.c6a6bc","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1360,"wires":[]},{"id":"242f1548.441eea","type":"debug","z":"5e6b9405.c6a6bc","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1420,"wires":[]},{"id":"f0a88e80.d0a0f","type":"debug","z":"5e6b9405.c6a6bc","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1480,"wires":[]},{"id":"6c7e8d43.4eddb4","type":"debug","z":"5e6b9405.c6a6bc","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1540,"wires":[]},{"id":"fb17950a.211f28","type":"debug","z":"5e6b9405.c6a6bc","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1740,"wires":[]},{"id":"e48ca14f.7e7c5","type":"debug","z":"5e6b9405.c6a6bc","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1800,"wires":[]},{"id":"3681d1a2.596d7e","type":"debug","z":"5e6b9405.c6a6bc","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1860,"wires":[]},{"id":"8906167d.5062d8","type":"debug","z":"5e6b9405.c6a6bc","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1920,"wires":[]},{"id":"1f115e23.ea9982","type":"debug","z":"5e6b9405.c6a6bc","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1980,"wires":[]},{"id":"fcbc52a6.e6eb4","type":"debug","z":"5e6b9405.c6a6bc","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":2040,"wires":[]},{"id":"8f64ca99.14efe8","type":"comment","z":"5e6b9405.c6a6bc","name":"Good requests except where noted; Possible response codes on right","info":"","x":270,"y":140,"wires":[]},{"id":"80fe3fdc.b83e9","type":"change","z":"5e6b9405.c6a6bc","name":"No token","rules":[{"t":"set","p":"URL","pt":"msg","to":"location","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1420,"wires":[["cd0c14ee.ecadf8"]]},{"id":"14d90fbb.5aaf1","type":"change","z":"5e6b9405.c6a6bc","name":"No token","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1480,"wires":[["aca92973.3e2698"]]},{"id":"85932de3.a1644","type":"change","z":"5e6b9405.c6a6bc","name":"No token","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1540,"wires":[["4d37f8af.d01fe8"]]},{"id":"872d75d6.574928","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":320,"wires":[["2a433fd3.fbe81"]]},{"id":"2a433fd3.fbe81","type":"http request","z":"5e6b9405.c6a6bc","name":"POST /players","method":"POST","ret":"obj","url":"{{{URL}}}/players","tls":"","x":660,"y":320,"wires":[["e2c25e83.9e33c"]]},{"id":"e2c25e83.9e33c","type":"change","z":"5e6b9405.c6a6bc","name":"Save Player","rules":[{"t":"set","p":"player","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"self","pt":"flow","to":"payload.self","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":320,"wires":[["531711d2.f6f9d"]]},{"id":"531711d2.f6f9d","type":"debug","z":"5e6b9405.c6a6bc","name":"201, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":320,"wires":[]},{"id":"4615df03.7993b","type":"inject","z":"5e6b9405.c6a6bc","name":"Bad Field","topic":"","payload":"{\"name\":\"John\",\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":380,"wires":[["393a4763.a2f908"]]},{"id":"393a4763.a2f908","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[["fc0a460c.6d7378"]]},{"id":"fc0a460c.6d7378","type":"http request","z":"5e6b9405.c6a6bc","name":"POST /players","method":"POST","ret":"obj","url":"{{{URL}}}/players","tls":"","x":660,"y":380,"wires":[["eba9e9b1.3f6688"]]},{"id":"eba9e9b1.3f6688","type":"debug","z":"5e6b9405.c6a6bc","name":"201, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":380,"wires":[]},{"id":"acf08783.7ff218","type":"inject","z":"5e6b9405.c6a6bc","name":"Bad field","topic":"","payload":"{\"name\":\"Not John\",\"id\":111111}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":680,"wires":[["5fd99344.7e834c"]]},{"id":"5fd99344.7e834c","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":680,"wires":[["7cf76b5b.780a64"]]},{"id":"7cf76b5b.780a64","type":"http request","z":"5e6b9405.c6a6bc","name":"PUT /players/{player}","method":"PUT","ret":"txt","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":680,"y":680,"wires":[["b27faad0.03ee68"]]},{"id":"b27faad0.03ee68","type":"debug","z":"5e6b9405.c6a6bc","name":"303, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":680,"wires":[]},{"id":"f8a7e182.c50ee","type":"http request","z":"85960143.23051","name":"GET /teams","method":"GET","ret":"obj","url":"{{{URL}}}/teams","tls":"","x":690,"y":180,"wires":[["78348c27.ceac14"]]},{"id":"d2206724.8f21d8","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["70a45fc6.0ce21"]]},{"id":"6090d0fb.ccbdc","type":"debug","z":"85960143.23051","name":"200","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":1110,"y":180,"wires":[]},{"id":"70a45fc6.0ce21","type":"change","z":"85960143.23051","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":180,"wires":[["f8a7e182.c50ee"]]},{"id":"faa04275.e6b3","type":"inject","z":"85960143.23051","name":"New Team","topic":"","payload":"{\"name\":\"New Team\",\"location\":\"New York\",\"year_established\":1990}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["4b24f815.164048"]]},{"id":"78348c27.ceac14","type":"change","z":"85960143.23051","name":"","rules":[{"t":"set","p":"next","pt":"flow","to":"payload.next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":180,"wires":[["6090d0fb.ccbdc"]]},{"id":"6893ee13.2fefc","type":"http request","z":"85960143.23051","name":"GET /teams using cursor","method":"GET","ret":"obj","url":"{{{URL}}}","tls":"","x":730,"y":240,"wires":[["55a1b2b8.41f0bc"]]},{"id":"6c5f24f5.a29f3c","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["b5a37c9a.80d87"]]},{"id":"76dbecf5.3cec84","type":"debug","z":"85960143.23051","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":240,"wires":[]},{"id":"b5a37c9a.80d87","type":"change","z":"85960143.23051","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"next","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["9761a1c7.b7c1f"]]},{"id":"55a1b2b8.41f0bc","type":"change","z":"85960143.23051","name":"","rules":[{"t":"set","p":"next","pt":"flow","to":"payload.next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":240,"wires":[["76dbecf5.3cec84"]]},{"id":"e0e59a5.8671268","type":"http request","z":"85960143.23051","name":"DELETE /teams/{team}","method":"DELETE","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":730,"y":720,"wires":[["55985dfd.15f604"]]},{"id":"639bc070.47dca","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":720,"wires":[["7a1ea8f5.36b898"]]},{"id":"55985dfd.15f604","type":"debug","z":"85960143.23051","name":"204, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":720,"wires":[]},{"id":"7a1ea8f5.36b898","type":"change","z":"85960143.23051","name":"Set URL, Headers, Team","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":720,"wires":[["e0e59a5.8671268"]]},{"id":"4cc58b4c.8e4d64","type":"http request","z":"85960143.23051","name":"GET /teams/{team}","method":"GET","ret":"obj","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":710,"y":420,"wires":[["c8ac08f6.bff068"]]},{"id":"a0c6229f.e2a95","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["40c8b23c.f222ac"]]},{"id":"c8ac08f6.bff068","type":"debug","z":"85960143.23051","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":420,"wires":[]},{"id":"40c8b23c.f222ac","type":"change","z":"85960143.23051","name":"Set URL, Headers, Team","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":420,"wires":[["4cc58b4c.8e4d64"]]},{"id":"e2393d1f.08172","type":"http request","z":"85960143.23051","name":"DELETE /teams","method":"DELETE","ret":"txt","url":"{{{URL}}}/teams","tls":"","x":700,"y":940,"wires":[["1388e5d1.8f550a"]]},{"id":"12fab13a.6d398f","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":940,"wires":[["29dce64c.38d62a"]]},{"id":"1388e5d1.8f550a","type":"debug","z":"85960143.23051","name":"405","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":940,"wires":[]},{"id":"29dce64c.38d62a","type":"change","z":"85960143.23051","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":940,"wires":[["e2393d1f.08172"]]},{"id":"c05fb19d.1aaf3","type":"http request","z":"85960143.23051","name":"PUT /teams/{team}","method":"PUT","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":710,"y":600,"wires":[["775768de.51b258"]]},{"id":"e282105.6dec6f","type":"inject","z":"85960143.23051","name":"Edit Team","topic":"","payload":"{\"name\":\"Edited Team\",\"location\":\"LA\",\"year_established\":1991}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":600,"wires":[["cfa431b1.5230e"]]},{"id":"ca63f2c8.1e721","type":"debug","z":"85960143.23051","name":"303, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":600,"wires":[]},{"id":"cfa431b1.5230e","type":"change","z":"85960143.23051","name":"Set URL, Headers, Team","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":600,"wires":[["c05fb19d.1aaf3"]]},{"id":"775768de.51b258","type":"change","z":"85960143.23051","name":"","rules":[{"t":"set","p":"location","pt":"flow","to":"headers.location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":600,"wires":[["ca63f2c8.1e721"]]},{"id":"f2908791.77bd58","type":"http request","z":"85960143.23051","name":"GET team using location","method":"GET","ret":"obj","url":"{{{URL}}}","tls":"","x":730,"y":540,"wires":[["25ec3411.784cfc"]]},{"id":"233df0f2.f552a","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["8e6d4510.1def68"]]},{"id":"25ec3411.784cfc","type":"debug","z":"85960143.23051","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":540,"wires":[]},{"id":"8e6d4510.1def68","type":"change","z":"85960143.23051","name":"Set URL, Headers, Team","rules":[{"t":"set","p":"URL","pt":"msg","to":"location","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":540,"wires":[["f2908791.77bd58"]]},{"id":"58ad6e57.d0022","type":"http request","z":"85960143.23051","name":"PUT /teams","method":"PUT","ret":"txt","url":"{{{URL}}}/teams","tls":"","x":690,"y":1000,"wires":[["c8d6c37c.65675"]]},{"id":"5c0878a4.e0bd78","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1000,"wires":[["cbbeb8c2.cf9118"]]},{"id":"c8d6c37c.65675","type":"debug","z":"85960143.23051","name":"405","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1000,"wires":[]},{"id":"cbbeb8c2.cf9118","type":"change","z":"85960143.23051","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1000,"wires":[["58ad6e57.d0022"]]},{"id":"407b327e.82c8dc","type":"http request","z":"85960143.23051","name":"GET /teams","method":"GET","ret":"txt","url":"{{{URL}}}/teams","tls":"","x":690,"y":1100,"wires":[["b576faec.160428"]]},{"id":"a7f6c0a5.85109","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1100,"wires":[["5d43eca9.38adc4"]]},{"id":"b576faec.160428","type":"debug","z":"85960143.23051","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1100,"wires":[]},{"id":"5d43eca9.38adc4","type":"change","z":"85960143.23051","name":"No Token","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1100,"wires":[["407b327e.82c8dc"]]},{"id":"20c54f17.6adcb","type":"http request","z":"85960143.23051","name":"POST /teams","method":"POST","ret":"txt","url":"{{{URL}}}/teams","tls":"","x":700,"y":1220,"wires":[["a30617e3.29fdb8"]]},{"id":"edbe859e.718a38","type":"inject","z":"85960143.23051","name":"New Team","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1220,"wires":[["16437a58.68def6"]]},{"id":"5d7e6b18.d11904","type":"http request","z":"85960143.23051","name":"GET /teams using cursor","method":"GET","ret":"txt","url":"{{{URL}}}","tls":"","x":730,"y":1160,"wires":[["58405582.6e400c"]]},{"id":"593e9eac.fbec4","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1160,"wires":[["67ea10ce.eb958"]]},{"id":"4fa20b31.b32414","type":"http request","z":"85960143.23051","name":"DELETE /teams/{team}","method":"DELETE","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":730,"y":1460,"wires":[["33f3a370.b2d7fc"]]},{"id":"462c32ab.06587c","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1460,"wires":[["2703c85b.17c2c8"]]},{"id":"ed2dcd78.0fce4","type":"http request","z":"85960143.23051","name":"GET /teams/{team}","method":"GET","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":710,"y":1280,"wires":[["edd6673e.6d20a8"]]},{"id":"9deb8413.334f98","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1280,"wires":[["8c7ee0be.8a2be"]]},{"id":"8c7ee0be.8a2be","type":"change","z":"85960143.23051","name":"No token","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1280,"wires":[["ed2dcd78.0fce4"]]},{"id":"1ca01056.80273","type":"http request","z":"85960143.23051","name":"PUT /teams/{team}","method":"PUT","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":710,"y":1400,"wires":[["6a649965.98c118"]]},{"id":"93ebbc6b.722c1","type":"inject","z":"85960143.23051","name":"Edit Team","topic":"","payload":"{\"name\":\"Not John\",\"location\":1,\"year_established\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1400,"wires":[["a96b4590.525c98"]]},{"id":"fa277511.cd4ac8","type":"http request","z":"85960143.23051","name":"GET team using location","method":"GET","ret":"txt","url":"{{{URL}}}","tls":"","x":730,"y":1340,"wires":[["b47628c.d91ddd8"]]},{"id":"66834e03.7b963","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1340,"wires":[["b4434def.95112"]]},{"id":"d8a83002.29f9e","type":"http request","z":"85960143.23051","name":"GET /teams","method":"GET","ret":"txt","url":"{{{URL}}}/teams","tls":"","x":690,"y":1620,"wires":[["9a649623.d1e7d8"]]},{"id":"582ef99e.c26a58","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1620,"wires":[["fce49af1.0ab388"]]},{"id":"9a649623.d1e7d8","type":"debug","z":"85960143.23051","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1620,"wires":[]},{"id":"fce49af1.0ab388","type":"change","z":"85960143.23051","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1620,"wires":[["d8a83002.29f9e"]]},{"id":"a0e36c81.a5ec3","type":"http request","z":"85960143.23051","name":"POST /teams","method":"POST","ret":"txt","url":"{{{URL}}}/teams","tls":"","x":700,"y":1740,"wires":[["e881202b.b9417"]]},{"id":"b44d35d1.f1cbd8","type":"inject","z":"85960143.23051","name":"New Team","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1740,"wires":[["a25b5594.dd5378"]]},{"id":"8cb38e24.0b44d","type":"http request","z":"85960143.23051","name":"GET /teams using cursor","method":"GET","ret":"txt","url":"{{{URL}}}","tls":"","x":730,"y":1680,"wires":[["e448f02c.976b6"]]},{"id":"c68fa5d8.c04458","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1680,"wires":[["74022715.028428"]]},{"id":"6a5f1ca1.9d3b64","type":"http request","z":"85960143.23051","name":"DELETE /teams/{team}","method":"DELETE","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":730,"y":1980,"wires":[["9677572b.bd5218"]]},{"id":"a01ba004.bb706","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1980,"wires":[["59e1ea9a.6cbb24"]]},{"id":"dbd25d0.ba619a","type":"http request","z":"85960143.23051","name":"GET /teams/{team}","method":"GET","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":710,"y":1800,"wires":[["4f4ae665.d62678"]]},{"id":"e54eb2d4.50c27","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1800,"wires":[["235922e0.10a91e"]]},{"id":"235922e0.10a91e","type":"change","z":"85960143.23051","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1800,"wires":[["dbd25d0.ba619a"]]},{"id":"5ddc323c.ebf59c","type":"http request","z":"85960143.23051","name":"PUT /teams/{team}","method":"PUT","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":710,"y":1920,"wires":[["e4a1d488.7983b8"]]},{"id":"da415845.887e38","type":"http request","z":"85960143.23051","name":"GET team using location","method":"GET","ret":"txt","url":"{{{URL}}}","tls":"","x":730,"y":1860,"wires":[["71a6a5fd.aac79c"]]},{"id":"a0d2e34f.dd7c5","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1860,"wires":[["40ca7772.000058"]]},{"id":"74022715.028428","type":"change","z":"85960143.23051","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"next","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1680,"wires":[["d028abc8.d6a7d8"]]},{"id":"a25b5594.dd5378","type":"change","z":"85960143.23051","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":301.25,"y":1740,"wires":[["a0e36c81.a5ec3"]]},{"id":"1fd651a0.a91ade","type":"inject","z":"85960143.23051","name":"Edit Team","topic":"","payload":"{\"name\":\"Not John\",\"location\":1,\"year_established\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1920,"wires":[["4b6dc09d.a6f4c"]]},{"id":"40ca7772.000058","type":"change","z":"85960143.23051","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"location","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1860,"wires":[["da415845.887e38"]]},{"id":"4b6dc09d.a6f4c","type":"change","z":"85960143.23051","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1920,"wires":[["5ddc323c.ebf59c"]]},{"id":"59e1ea9a.6cbb24","type":"change","z":"85960143.23051","name":"Accept HTML","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1980,"wires":[["6a5f1ca1.9d3b64"]]},{"id":"67ea10ce.eb958","type":"change","z":"85960143.23051","name":"No Token","rules":[{"t":"set","p":"URL","pt":"msg","to":"next","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1160,"wires":[["6b5d6e47.ebe09"]]},{"id":"16437a58.68def6","type":"change","z":"85960143.23051","name":"No Token","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1220,"wires":[["20c54f17.6adcb"]]},{"id":"ae1e740b.5283f8","type":"comment","z":"85960143.23051","name":"Bad requests below; Possible response codes on right","info":"All requests below are designed to return fail.\n\nExpected error codes on right.","x":220,"y":880,"wires":[]},{"id":"58405582.6e400c","type":"debug","z":"85960143.23051","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1160,"wires":[]},{"id":"a30617e3.29fdb8","type":"debug","z":"85960143.23051","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1220,"wires":[]},{"id":"edd6673e.6d20a8","type":"debug","z":"85960143.23051","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1280,"wires":[]},{"id":"b47628c.d91ddd8","type":"debug","z":"85960143.23051","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1340,"wires":[]},{"id":"6a649965.98c118","type":"debug","z":"85960143.23051","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1400,"wires":[]},{"id":"33f3a370.b2d7fc","type":"debug","z":"85960143.23051","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1460,"wires":[]},{"id":"e448f02c.976b6","type":"debug","z":"85960143.23051","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1680,"wires":[]},{"id":"e881202b.b9417","type":"debug","z":"85960143.23051","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1740,"wires":[]},{"id":"4f4ae665.d62678","type":"debug","z":"85960143.23051","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1800,"wires":[]},{"id":"71a6a5fd.aac79c","type":"debug","z":"85960143.23051","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1860,"wires":[]},{"id":"e4a1d488.7983b8","type":"debug","z":"85960143.23051","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1920,"wires":[]},{"id":"9677572b.bd5218","type":"debug","z":"85960143.23051","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1980,"wires":[]},{"id":"bea4fa07.f2efc8","type":"comment","z":"85960143.23051","name":"Good requests except where noted; Possible response codes on right","info":"","x":270,"y":120,"wires":[]},{"id":"b4434def.95112","type":"change","z":"85960143.23051","name":"No token","rules":[{"t":"set","p":"URL","pt":"msg","to":"location","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1340,"wires":[["fa277511.cd4ac8"]]},{"id":"a96b4590.525c98","type":"change","z":"85960143.23051","name":"No token","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1400,"wires":[["1ca01056.80273"]]},{"id":"2703c85b.17c2c8","type":"change","z":"85960143.23051","name":"No token","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1460,"wires":[["4fa20b31.b32414"]]},{"id":"4b24f815.164048","type":"change","z":"85960143.23051","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":300,"wires":[["886e7ed8.875ef"]]},{"id":"886e7ed8.875ef","type":"http request","z":"85960143.23051","name":"POST /teams","method":"POST","ret":"obj","url":"{{{URL}}}/teams","tls":"","x":700,"y":300,"wires":[["fbd98586.5a4098"]]},{"id":"fbd98586.5a4098","type":"change","z":"85960143.23051","name":"Save Team","rules":[{"t":"set","p":"team","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"self","pt":"flow","to":"payload.self","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":300,"wires":[["9a646e3.7efc69"]]},{"id":"9a646e3.7efc69","type":"debug","z":"85960143.23051","name":"201, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":300,"wires":[]},{"id":"332a858f.71a10a","type":"inject","z":"85960143.23051","name":"Bad Field","topic":"","payload":"{\"name\":\"John\",\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["78767ca2.d4f4d4"]]},{"id":"78767ca2.d4f4d4","type":"change","z":"85960143.23051","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":360,"wires":[["e5c22cc1.f8a9"]]},{"id":"e5c22cc1.f8a9","type":"http request","z":"85960143.23051","name":"POST /teams","method":"POST","ret":"obj","url":"{{{URL}}}/teams","tls":"","x":700,"y":360,"wires":[["5c4d95e7.319f7c"]]},{"id":"5c4d95e7.319f7c","type":"debug","z":"85960143.23051","name":"403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":360,"wires":[]},{"id":"75da9e0a.86602","type":"inject","z":"85960143.23051","name":"Bad field","topic":"","payload":"{\"name\":\"Not John\",\"id\":111111}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":660,"wires":[["59dcc789.d6bbc8"]]},{"id":"59dcc789.d6bbc8","type":"change","z":"85960143.23051","name":"Set URL, Headers, Team","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":660,"wires":[["b0f8d3ac.20c21"]]},{"id":"b0f8d3ac.20c21","type":"http request","z":"85960143.23051","name":"PUT /teams/{team}","method":"PUT","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":710,"y":660,"wires":[["4e9c3dd3.2506a4"]]},{"id":"4e9c3dd3.2506a4","type":"debug","z":"85960143.23051","name":"403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":660,"wires":[]},{"id":"9761a1c7.b7c1f","type":"switch","z":"85960143.23051","name":"","property":"URL","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":240,"wires":[["6893ee13.2fefc"]]},{"id":"6b5d6e47.ebe09","type":"switch","z":"85960143.23051","name":"","property":"URL","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1160,"wires":[["5d7e6b18.d11904"]]},{"id":"d028abc8.d6a7d8","type":"switch","z":"85960143.23051","name":"","property":"URL","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1680,"wires":[["8cb38e24.0b44d"]]},{"id":"93a02858.e317e8","type":"switch","z":"5e6b9405.c6a6bc","name":"","property":"URL","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":260,"wires":[["d3ffd4cf.9fbcc8"]]},{"id":"51630b1c.1035b4","type":"switch","z":"5e6b9405.c6a6bc","name":"","property":"URL","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1240,"wires":[["5545da6e.bb7f74"]]},{"id":"7122935d.a1fe9c","type":"switch","z":"5e6b9405.c6a6bc","name":"","property":"URL","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1740,"wires":[["3a5899da.428066"]]},{"id":"a6e06ea6.96f6","type":"inject","z":"bfded8a5.40abc8","name":"New Player","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["297b63d8.da01ec"]]},{"id":"297b63d8.da01ec","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":180,"wires":[["8af90a88.9326c8"]]},{"id":"8af90a88.9326c8","type":"http request","z":"bfded8a5.40abc8","name":"POST /players","method":"POST","ret":"obj","url":"{{{URL}}}/players","tls":"","x":720,"y":180,"wires":[["c0e12b35.d5ed68"]]},{"id":"c0e12b35.d5ed68","type":"change","z":"bfded8a5.40abc8","name":"","rules":[{"t":"set","p":"player","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":180,"wires":[["7e526ad1.cdf3a4"]]},{"id":"7e526ad1.cdf3a4","type":"debug","z":"bfded8a5.40abc8","name":"201, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":180,"wires":[]},{"id":"7bb8a47d.4bb43c","type":"change","z":"bfded8a5.40abc8","name":"Set URL","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[["95a608b4.cee068"]]},{"id":"95a608b4.cee068","type":"http request","z":"bfded8a5.40abc8","name":"POST /teams","method":"POST","ret":"obj","url":"{{{URL}}}/teams","tls":"","x":720,"y":420,"wires":[["62a178d3.c0cb08"]]},{"id":"62a178d3.c0cb08","type":"change","z":"bfded8a5.40abc8","name":"","rules":[{"t":"set","p":"team","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":420,"wires":[["c9eff84.07b5f08"]]},{"id":"c9eff84.07b5f08","type":"debug","z":"bfded8a5.40abc8","name":"201, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":420,"wires":[]},{"id":"e7bf0c7e.1c33","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Team, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":760,"wires":[["9c17867d.72b5f8"]]},{"id":"9c17867d.72b5f8","type":"http request","z":"bfded8a5.40abc8","name":"PUT /teams/{team}/players{player}","method":"PUT","ret":"obj","url":"{{{URL}}}/teams/{{{team_id}}}/players/{{{player_id}}}","tls":"","x":800,"y":760,"wires":[["9a16984e.058408"]]},{"id":"9a16984e.058408","type":"debug","z":"bfded8a5.40abc8","name":"201, 403, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1100,"y":760,"wires":[]},{"id":"d936faac.ab9e68","type":"http request","z":"bfded8a5.40abc8","name":"GET /players/{player}","method":"GET","ret":"obj","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":740,"y":240,"wires":[["30cd2a34.247826"]]},{"id":"de8d7cbf.62ac8","type":"inject","z":"bfded8a5.40abc8","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["c5bc606e.595d5"]]},{"id":"30cd2a34.247826","type":"debug","z":"bfded8a5.40abc8","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":240,"wires":[]},{"id":"c5bc606e.595d5","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Headers, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":240,"wires":[["d936faac.ab9e68"]]},{"id":"1cb2f2f9.bb5d6d","type":"http request","z":"bfded8a5.40abc8","name":"GET /teams/{team}","method":"GET","ret":"obj","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":730,"y":520,"wires":[["a75d58e4.7028b8"]]},{"id":"a75d58e4.7028b8","type":"debug","z":"bfded8a5.40abc8","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":520,"wires":[]},{"id":"50eb6f98.f3067","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Team","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":520,"wires":[["1cb2f2f9.bb5d6d"]]},{"id":"ebe9358d.af5978","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Team, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":860,"wires":[["b27a8b52.8828f8"]]},{"id":"b27a8b52.8828f8","type":"http request","z":"bfded8a5.40abc8","name":"DELETE /teams/{team}/players{player}","method":"DELETE","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}/players/{{{player_id}}}","tls":"","x":810,"y":860,"wires":[["c67ce001.a48b5"]]},{"id":"c67ce001.a48b5","type":"debug","z":"bfded8a5.40abc8","name":"204, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":860,"wires":[]},{"id":"eea9e350.fca8","type":"http request","z":"bfded8a5.40abc8","name":"DELETE /players/{player}","method":"DELETE","ret":"txt","url":"{{{URL}}}/players/{{{player_id}}}","tls":"","x":750,"y":300,"wires":[["c2dd1e27.1f5bc"]]},{"id":"5d3c501c.54f01","type":"inject","z":"bfded8a5.40abc8","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["b766a865.90ea68"]]},{"id":"c2dd1e27.1f5bc","type":"debug","z":"bfded8a5.40abc8","name":"204, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":300,"wires":[]},{"id":"b766a865.90ea68","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Headers, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":300,"wires":[["eea9e350.fca8"]]},{"id":"c5afd360.20429","type":"http request","z":"bfded8a5.40abc8","name":"DELETE /teams/{team}","method":"DELETE","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}","tls":"","x":750,"y":620,"wires":[["6ac73031.b3acb"]]},{"id":"6ac73031.b3acb","type":"debug","z":"bfded8a5.40abc8","name":"204, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":620,"wires":[]},{"id":"ab0f7016.2303a","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Team","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":620,"wires":[["c5afd360.20429"]]},{"id":"83828bd8.8e0248","type":"function","z":"bfded8a5.40abc8","name":"Set Headers","func":"if (msg.topic == \"user1\") {\n    msg.headers = global.get(\"good_headers\");\n}\nelse {\n    msg.headers = global.get(\"good_headers2\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["7bb8a47d.4bb43c"]]},{"id":"bed142e8.4200a","type":"inject","z":"bfded8a5.40abc8","name":"USER 1: Empty Body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["55d0d809.bd0af8"]]},{"id":"16007852.b2ab58","type":"inject","z":"bfded8a5.40abc8","name":"USER 2: Empty Body","topic":"user2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["55d0d809.bd0af8"]]},{"id":"55d0d809.bd0af8","type":"function","z":"bfded8a5.40abc8","name":"Set Headers","func":"if (msg.topic == \"user1\") {\n    msg.headers = global.get(\"good_headers\");\n}\nelse {\n    msg.headers = global.get(\"good_headers2\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["50eb6f98.f3067"]]},{"id":"3c962c05.afc9c4","type":"inject","z":"bfded8a5.40abc8","name":"USER 1: New Team","topic":"user1","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["83828bd8.8e0248"]]},{"id":"1f26bc8c.703fe3","type":"inject","z":"bfded8a5.40abc8","name":"USER 2: New Team","topic":"user2","payload":"{\"name\":\"John\",\"location\":5,\"year_established\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["83828bd8.8e0248"]]},{"id":"208a917c.81762e","type":"inject","z":"bfded8a5.40abc8","name":"USER 1: Empty Body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":740,"wires":[["b96ed266.afe21"]]},{"id":"31e1401d.5947c","type":"inject","z":"bfded8a5.40abc8","name":"USER 2: Empty Body","topic":"user2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":780,"wires":[["b96ed266.afe21"]]},{"id":"b96ed266.afe21","type":"function","z":"bfded8a5.40abc8","name":"Set Headers","func":"if (msg.topic == \"user1\") {\n    msg.headers = global.get(\"good_headers\");\n}\nelse {\n    msg.headers = global.get(\"good_headers2\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":760,"wires":[["e7bf0c7e.1c33"]]},{"id":"74a2e747.d0fbb8","type":"inject","z":"bfded8a5.40abc8","name":"USER 1: Empty Body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["e738e2e4.1d6a"]]},{"id":"49ca4f24.b3b06","type":"inject","z":"bfded8a5.40abc8","name":"USER 2: Empty Body","topic":"user2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":880,"wires":[["e738e2e4.1d6a"]]},{"id":"e738e2e4.1d6a","type":"function","z":"bfded8a5.40abc8","name":"Set Headers","func":"if (msg.topic == \"user1\") {\n    msg.headers = global.get(\"good_headers\");\n}\nelse {\n    msg.headers = global.get(\"good_headers2\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":860,"wires":[["ebe9358d.af5978"]]},{"id":"84e42ed3.988c6","type":"inject","z":"bfded8a5.40abc8","name":"USER 1: Empty Body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["9dbf9926.ef2658"]]},{"id":"bcfccdc4.3c2bc","type":"inject","z":"bfded8a5.40abc8","name":"USER 2: Empty Body","topic":"user2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":640,"wires":[["9dbf9926.ef2658"]]},{"id":"9dbf9926.ef2658","type":"function","z":"bfded8a5.40abc8","name":"Set Headers","func":"if (msg.topic == \"user1\") {\n    msg.headers = global.get(\"good_headers\");\n}\nelse {\n    msg.headers = global.get(\"good_headers2\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":620,"wires":[["ab0f7016.2303a"]]},{"id":"59a7e2fc.7e5f3c","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Team, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1480,"wires":[["ececf59c.d51c38"]]},{"id":"ececf59c.d51c38","type":"http request","z":"bfded8a5.40abc8","name":"DELETE /teams/{team}/players{player}","method":"DELETE","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}/players/{{{player_id}}}","tls":"","x":850,"y":1480,"wires":[["80f7e45f.467de8"]]},{"id":"80f7e45f.467de8","type":"debug","z":"bfded8a5.40abc8","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1480,"wires":[]},{"id":"379204b1.82b0cc","type":"inject","z":"bfded8a5.40abc8","name":"USER 1: Empty Body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1480,"wires":[["d8f1b7ef.e44da8"]]},{"id":"45b0d6da.18e238","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Team, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1440,"wires":[["2fcb1c3b.52f674"]]},{"id":"2fcb1c3b.52f674","type":"http request","z":"bfded8a5.40abc8","name":"PUT /teams/{team}/players{player}","method":"PUT","ret":"obj","url":"{{{URL}}}/teams/{{{team_id}}}/players/{{{player_id}}}","tls":"","x":840,"y":1440,"wires":[["4c318a40.0f4534"]]},{"id":"4c318a40.0f4534","type":"debug","z":"bfded8a5.40abc8","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1440,"wires":[]},{"id":"13b555f9.b5266a","type":"inject","z":"bfded8a5.40abc8","name":"USER 1: Empty Body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1440,"wires":[["d52113a2.df528"]]},{"id":"d52113a2.df528","type":"function","z":"bfded8a5.40abc8","name":"Bad Headers","func":"if (msg.topic == \"user1\") {\n    msg.headers = global.get(\"bad_headers\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1440,"wires":[["45b0d6da.18e238"]]},{"id":"d8f1b7ef.e44da8","type":"function","z":"bfded8a5.40abc8","name":"Bad Headers","func":"if (msg.topic == \"user1\") {\n    msg.headers = global.get(\"bad_headers\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1480,"wires":[["59a7e2fc.7e5f3c"]]},{"id":"6bc446bb.b8d3b8","type":"http request","z":"bfded8a5.40abc8","name":"GET /teams/{team}/players","method":"GET","ret":"obj","url":"{{{URL}}}/teams/{{{team_id}}}/players","tls":"","x":740,"y":1000,"wires":[["ae5a6a1b.8916b8"]]},{"id":"828589e1.02d3e8","type":"debug","z":"bfded8a5.40abc8","name":"200, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":1000,"wires":[]},{"id":"80b7771b.ba4558","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Team","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1000,"wires":[["6bc446bb.b8d3b8"]]},{"id":"827d02f8.54bfa","type":"inject","z":"bfded8a5.40abc8","name":"USER 1: Empty Body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":980,"wires":[["80872681.b34208"]]},{"id":"c57f8a81.6db648","type":"inject","z":"bfded8a5.40abc8","name":"USER 2: Empty Body","topic":"user2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1020,"wires":[["80872681.b34208"]]},{"id":"80872681.b34208","type":"function","z":"bfded8a5.40abc8","name":"Set Headers","func":"if (msg.topic == \"user1\") {\n    msg.headers = global.get(\"good_headers\");\n}\nelse {\n    msg.headers = global.get(\"good_headers2\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1000,"wires":[["80b7771b.ba4558"]]},{"id":"ae5a6a1b.8916b8","type":"change","z":"bfded8a5.40abc8","name":"","rules":[{"t":"set","p":"next","pt":"flow","to":"payload.next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1000,"wires":[["828589e1.02d3e8"]]},{"id":"ad7af3d2.1ab45","type":"inject","z":"bfded8a5.40abc8","name":"USER 1","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1080,"wires":[["82856321.94b5e"]]},{"id":"bbda4fd6.d2a11","type":"inject","z":"bfded8a5.40abc8","name":"USER 2","topic":"user2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1120,"wires":[["82856321.94b5e"]]},{"id":"a1b36395.9c17b","type":"comment","z":"bfded8a5.40abc8","name":"Bad requests below. Expected status codes on the right","info":"","x":220,"y":1260,"wires":[]},{"id":"285edf6e.8e97e","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Team, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1360,"wires":[["208d4d33.7b63d2"]]},{"id":"208d4d33.7b63d2","type":"http request","z":"bfded8a5.40abc8","name":"DELETE /teams/{team}/players{player}","method":"DELETE","ret":"txt","url":"{{{URL}}}/teams/{{{team_id}}}/players/{{{player_id}}}","tls":"","x":850,"y":1360,"wires":[["4e5269ce.13f388"]]},{"id":"4e5269ce.13f388","type":"debug","z":"bfded8a5.40abc8","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1360,"wires":[]},{"id":"a927f8c5.8d45e8","type":"inject","z":"bfded8a5.40abc8","name":"USER 1: Empty Body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1360,"wires":[["f4e3280c.6219e8"]]},{"id":"a80ab1de.32e28","type":"change","z":"bfded8a5.40abc8","name":"Set URL, Team, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1320,"wires":[["f88a3c2a.5de03"]]},{"id":"f88a3c2a.5de03","type":"http request","z":"bfded8a5.40abc8","name":"PUT /teams/{team}/players{player}","method":"PUT","ret":"obj","url":"{{{URL}}}/teams/{{{team_id}}}/players/{{{player_id}}}","tls":"","x":840,"y":1320,"wires":[["5842e809.066548"]]},{"id":"5842e809.066548","type":"debug","z":"bfded8a5.40abc8","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":1320,"wires":[]},{"id":"18182c75.30b974","type":"inject","z":"bfded8a5.40abc8","name":"USER 1: Empty Body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1320,"wires":[["32287ae3.38b8e6"]]},{"id":"32287ae3.38b8e6","type":"function","z":"bfded8a5.40abc8","name":"No token","func":"if (msg.topic == \"user1\") {\n    msg.headers = global.get(\"headers_no_token\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1320,"wires":[["a80ab1de.32e28"]]},{"id":"f4e3280c.6219e8","type":"function","z":"bfded8a5.40abc8","name":"No token","func":"if (msg.topic == \"user1\") {\n    msg.headers = global.get(\"headers_no_token\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1360,"wires":[["285edf6e.8e97e"]]},{"id":"998d8439.a70b78","type":"config","z":"4fa5abc2.2b72a4","name":"Set URL, Headers","properties":[{"p":"url","pt":"global","to":"https://final-dot-osu493-217710.appspot.com/api","tot":"str"},{"p":"good_headers","pt":"global","to":"{\"accept\":\"application/json\"}","tot":"json"},{"p":"bad_headers","pt":"global","to":"{\"accept\":\"text/html\"}","tot":"json"},{"p":"headers_no_token","pt":"global","to":"{\"accept\":\"application/json\"}","tot":"json"},{"p":"good_headers2","pt":"global","to":"{\"accept\":\"application/json\"}","tot":"json"}],"active":false,"x":130,"y":40,"wires":[]},{"id":"c76e7abb.1a18f8","type":"http request","z":"5e6b9405.c6a6bc","name":"GET /players/{player} using self","method":"GET","ret":"obj","url":"{{{URL}}}","tls":"","x":710,"y":500,"wires":[["4272262.59293d8"]]},{"id":"f800a141.2aab3","type":"inject","z":"5e6b9405.c6a6bc","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["79f8b91b.456548"]]},{"id":"4272262.59293d8","type":"debug","z":"5e6b9405.c6a6bc","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":500,"wires":[]},{"id":"79f8b91b.456548","type":"change","z":"5e6b9405.c6a6bc","name":"Set URL, Headers, Player","rules":[{"t":"set","p":"URL","pt":"msg","to":"self","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"player_id","pt":"msg","to":"player.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":500,"wires":[["eb9e915c.fb546"]]},{"id":"eb9e915c.fb546","type":"switch","z":"5e6b9405.c6a6bc","name":"","property":"URL","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":500,"wires":[["c76e7abb.1a18f8"]]},{"id":"a4a783b5.ec9fd","type":"http request","z":"85960143.23051","name":"GET /teams/{team} using self","method":"GET","ret":"obj","url":"{{{URL}}}","tls":"","x":740,"y":480,"wires":[["55b9841d.d6342c"]]},{"id":"e8313bc6.bd30b8","type":"inject","z":"85960143.23051","name":"Empty Body","topic":"","payload":"{\"name\":\"John\",\"height\":5,\"age\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["cad7ccae.20325"]]},{"id":"55b9841d.d6342c","type":"debug","z":"85960143.23051","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":480,"wires":[]},{"id":"cad7ccae.20325","type":"change","z":"85960143.23051","name":"Set URL, Headers, Team","rules":[{"t":"set","p":"URL","pt":"msg","to":"self","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"team_id","pt":"msg","to":"team.id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":480,"wires":[["2d494362.c49ffc"]]},{"id":"2d494362.c49ffc","type":"switch","z":"85960143.23051","name":"","property":"URL","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":480,"wires":[["a4a783b5.ec9fd"]]},{"id":"6a7d276a.539898","type":"http request","z":"4fa5abc2.2b72a4","name":"POST /login","method":"POST","ret":"obj","url":"{{{URL}}}/login","tls":"","x":650,"y":540,"wires":[["e63d5a3c.f386f8"]]},{"id":"2f6bb4cf.6b2d1c","type":"inject","z":"4fa5abc2.2b72a4","name":"USER 1: Credentials","topic":"user1","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["54d8ddbe.f61d64"]]},{"id":"14257425.e3f03c","type":"debug","z":"4fa5abc2.2b72a4","name":"200","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":540,"wires":[]},{"id":"ab62edab.fd1","type":"http request","z":"4fa5abc2.2b72a4","name":"POST /users","method":"POST","ret":"obj","url":"{{{URL}}}/users","tls":"","x":650,"y":440,"wires":[["94fd7bdd.25f208"]]},{"id":"c420efcf.84d5b","type":"inject","z":"4fa5abc2.2b72a4","name":"USER 1: User info","topic":"user1","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["15ab3890.f0c137"]]},{"id":"99dfdb03.41e818","type":"debug","z":"4fa5abc2.2b72a4","name":"201, 409","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1100,"y":440,"wires":[]},{"id":"ec3489ac.ce6028","type":"http request","z":"4fa5abc2.2b72a4","name":"POST /login","method":"POST","ret":"txt","url":"{{{URL}}}/login","tls":"","x":650,"y":1080,"wires":[["8684f654.574df8"]]},{"id":"1e2cd877.1591f8","type":"inject","z":"4fa5abc2.2b72a4","name":"Credentials","topic":"","payload":"{\"username\":\"foo@bar.com\",\"password\":\"Abc123456\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1080,"wires":[["bf1b0d2c.a36c6"]]},{"id":"8684f654.574df8","type":"debug","z":"4fa5abc2.2b72a4","name":"406","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":1080,"wires":[]},{"id":"bf1b0d2c.a36c6","type":"change","z":"4fa5abc2.2b72a4","name":"Set Bad Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"bad_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1080,"wires":[["ec3489ac.ce6028"]]},{"id":"e3ede4d.2f8d518","type":"http request","z":"4fa5abc2.2b72a4","name":"POST /login","method":"POST","ret":"txt","url":"{{{URL}}}/login","tls":"","x":650,"y":1140,"wires":[["2aa5d711.51d5d8"]]},{"id":"bcd3f4d9.817cb8","type":"inject","z":"4fa5abc2.2b72a4","name":"Bad Credentials","topic":"","payload":"{\"username\":\"unknown\",\"password\":\"Abc123456\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1140,"wires":[["bcc898ab.ac0c68"]]},{"id":"2aa5d711.51d5d8","type":"debug","z":"4fa5abc2.2b72a4","name":"401","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":1140,"wires":[]},{"id":"bcc898ab.ac0c68","type":"change","z":"4fa5abc2.2b72a4","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1140,"wires":[["e3ede4d.2f8d518"]]},{"id":"e63d5a3c.f386f8","type":"function","z":"4fa5abc2.2b72a4","name":"Save Access Token","func":"var token = \"Bearer \" + msg.payload.access_token;\nif (msg.topic == \"user1\"){\n    global.set(\"token\", token);\n    global.get(\"good_headers\").authorization = token; \n    global.get(\"bad_headers\").authorization = token;\n}\nelse {\n    global.set(\"token2\", token);\n    global.get(\"good_headers2\").authorization = token; \n}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":540,"wires":[["14257425.e3f03c"]]},{"id":"9d8f736c.77f9c","type":"inject","z":"4fa5abc2.2b72a4","name":"USER 2: Credentials","topic":"user2","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["54d8ddbe.f61d64"]]},{"id":"cfc9a75d.bfe798","type":"inject","z":"4fa5abc2.2b72a4","name":"USER 2: User Info","topic":"user2","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["15ab3890.f0c137"]]},{"id":"e874ffb9.f14c7","type":"comment","z":"4fa5abc2.2b72a4","name":"README","info":"Please watch my video if you have any questions. All requests are demonstrated\nin the video. \n\nLog in with the provided username and password (See comment in Canvas submission or \nPDF documentation).\n\nTo run a request, click a blue button on the left. This will create and send \na JSON object through the chain until it is printed on the right. \n\nExpected status codes for each request are shown in the right green debug nodes. \n\n","x":340,"y":40,"wires":[]},{"id":"388827d6.aab238","type":"http request","z":"4fa5abc2.2b72a4","name":"PUT /users/{user}","method":"PUT","ret":"obj","url":"{{{URL}}}/users/{{{user_id}}}","tls":"","x":670,"y":760,"wires":[["fcd9bac6.181928"]]},{"id":"dacad50f.0c0e98","type":"inject","z":"4fa5abc2.2b72a4","name":"USER 1: User info","topic":"user1","payload":"{\"user_metadata\":{\"story\":\"I was edited via PUT\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":740,"wires":[["48fd510b.af7b8"]]},{"id":"fcd9bac6.181928","type":"debug","z":"4fa5abc2.2b72a4","name":"200, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1100,"y":760,"wires":[]},{"id":"a0459afd.4730a8","type":"inject","z":"4fa5abc2.2b72a4","name":"USER 2: User Info","topic":"user2","payload":"{\"user_metadata\":{\"story\":\"I was edited via PUT\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":780,"wires":[["48fd510b.af7b8"]]},{"id":"94fd7bdd.25f208","type":"change","z":"4fa5abc2.2b72a4","name":"Save User","rules":[{"t":"set","p":"user","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"self","pt":"flow","to":"payload.self","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":440,"wires":[["99dfdb03.41e818"]]},{"id":"442ebe5e.b4dd","type":"http request","z":"4fa5abc2.2b72a4","name":"POST /users","method":"POST","ret":"txt","url":"{{{URL}}}/users","tls":"","x":650,"y":1200,"wires":[["5b6fdead.99a67"]]},{"id":"ce376f44.d617","type":"inject","z":"4fa5abc2.2b72a4","name":"Missing field","topic":"","payload":"{\"username\":\"test11@test.com\",\"password\":\"Abc123456\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1200,"wires":[["cd463e02.21ab1"]]},{"id":"cd463e02.21ab1","type":"change","z":"4fa5abc2.2b72a4","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1200,"wires":[["442ebe5e.b4dd"]]},{"id":"5b6fdead.99a67","type":"debug","z":"4fa5abc2.2b72a4","name":"403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":1200,"wires":[]},{"id":"925c7203.1f249","type":"http request","z":"4fa5abc2.2b72a4","name":"PUT /users/{user}","method":"PUT","ret":"txt","url":"{{{URL}}}/users/{{{user_id}}}","tls":"","x":670,"y":1260,"wires":[["5b0c0937.05de88"]]},{"id":"6917d565.dc0ddc","type":"inject","z":"4fa5abc2.2b72a4","name":"Bad field","topic":"","payload":"{\"user_metadata\":{\"story\":\"I was edited via PUT\"},\"id\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1260,"wires":[["24d2485b.8f97a8"]]},{"id":"24d2485b.8f97a8","type":"change","z":"4fa5abc2.2b72a4","name":"Set URL, User","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"},{"t":"set","p":"user_id","pt":"msg","to":"user.id","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1260,"wires":[["925c7203.1f249"]]},{"id":"5b0c0937.05de88","type":"debug","z":"4fa5abc2.2b72a4","name":"403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":1260,"wires":[]},{"id":"6dcf7a90.402704","type":"http request","z":"4fa5abc2.2b72a4","name":"GET /users/{user}","method":"GET","ret":"obj","url":"{{{URL}}}/users/{{{user_id}}}","tls":"","x":670,"y":660,"wires":[["a038c34a.6d8be"]]},{"id":"4b4615cf.39f4fc","type":"inject","z":"4fa5abc2.2b72a4","name":"USER1: Empty body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["49249214.7f094c"]]},{"id":"a038c34a.6d8be","type":"debug","z":"4fa5abc2.2b72a4","name":"200, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1100,"y":660,"wires":[]},{"id":"49249214.7f094c","type":"function","z":"4fa5abc2.2b72a4","name":"Set URL, Headers, User","func":"msg.URL = global.get(\"url\");\nmsg.user_id = flow.get(\"user\").id;\n\nif (msg.topic == \"user1\") {\n    msg.headers = global.get(\"good_headers\");\n}\nelse {\n    msg.headers = global.get(\"good_headers2\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["6dcf7a90.402704"]]},{"id":"82773791.42c168","type":"inject","z":"4fa5abc2.2b72a4","name":"USER2: Empty body","topic":"user2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["49249214.7f094c"]]},{"id":"54d8ddbe.f61d64","type":"function","z":"4fa5abc2.2b72a4","name":"Set URL, Headers, Credentials","func":"msg.URL = global.get(\"url\")\nmsg.headers = global.get(\"headers_no_token\");\n\nif (msg.topic == \"user1\") {\n    msg.payload = flow.get(\"user1_credentials\");\n}\nelse {\n    msg.payload = flow.get(\"user2_credentials\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[["6a7d276a.539898"]]},{"id":"15ab3890.f0c137","type":"function","z":"4fa5abc2.2b72a4","name":"Set URL, Headers, Credentials","func":"msg.URL = global.get(\"url\");\nmsg.headers = global.get(\"headers_no_token\");\n\nvar randNum = Math.floor((Math.random() * 10000) + 1);\nvar username = \"test\" + randNum + \"@test.com\";\nvar password = \"Abc123456\"\n\nmsg.payload = {\n    \"username\": username,\n    \"password\": password,    \n    \"user_metadata\": {\n        \"story\": \"I was created via POST\"\n    }\n}\n\nif (msg.topic == \"user1\") {\n    flow.set(\"user1_credentials\", {\n        \"username\": username,\n        \"password\": password    \n    })\n}\nelse {\n    flow.set(\"user2_credentials\", {\n        \"username\": username,\n        \"password\": password    \n    })\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["ab62edab.fd1"]]},{"id":"48fd510b.af7b8","type":"function","z":"4fa5abc2.2b72a4","name":"Set URL, Headers, User","func":"msg.URL = global.get(\"url\");\n\nif (msg.topic == \"user1\") {\n    msg.headers = global.get(\"good_headers\");\n}\nelse {\n    msg.headers = global.get(\"good_headers2\");\n}\n\nmsg.user_id = flow.get(\"user\").id\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":760,"wires":[["388827d6.aab238"]]},{"id":"5a2f6a6.4100294","type":"comment","z":"4fa5abc2.2b72a4","name":"Bad requests below. Expected status codes on the right","info":"","x":220,"y":1020,"wires":[]},{"id":"72e64eb2.e758d","type":"switch","z":"bfded8a5.40abc8","name":"","property":"URL","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1100,"wires":[["4e08d50b.4d949c"]]},{"id":"4e08d50b.4d949c","type":"http request","z":"bfded8a5.40abc8","name":"GET /teams/{team}/players using cursor","method":"GET","ret":"obj","url":"{{{URL}}}","tls":"","x":720,"y":1100,"wires":[["70fb6e9a.47871"]]},{"id":"82856321.94b5e","type":"function","z":"bfded8a5.40abc8","name":"Set URL, Headers, Team","func":"msg.URL = flow.get(\"next\");\nmsg.team_id = global.get(\"team\");\n\nif (msg.topic == \"user1\") {\n    msg.headers = global.get(\"good_headers\");\n}\nelse {\n    msg.headers = global.get(\"good_headers2\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1100,"wires":[["72e64eb2.e758d"]]},{"id":"70fb6e9a.47871","type":"change","z":"bfded8a5.40abc8","name":"","rules":[{"t":"set","p":"next","pt":"flow","to":"payload.next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1100,"wires":[["42eb65ae.d5c63c"]]},{"id":"42eb65ae.d5c63c","type":"debug","z":"bfded8a5.40abc8","name":"200, 403","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1120,"y":1100,"wires":[]},{"id":"59347afd.81cfc4","type":"inject","z":"4fa5abc2.2b72a4","name":"Delete Flow Context","topic":"flow","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["5d619109.a0fb9"]]},{"id":"2c30499a.2c3956","type":"inject","z":"4fa5abc2.2b72a4","name":"Delete Global Context","topic":"global","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["5d619109.a0fb9"]]},{"id":"5d619109.a0fb9","type":"function","z":"4fa5abc2.2b72a4","name":"Get all keys","func":"var keys;\nmsg.payload = [];\n\nif (msg.topic == \"flow\") {\n    keys = flow.keys()\n}\nelse {\n    keys = global.keys()\n}\n\nfor (var key in keys) {\n    msg.payload.push({\"key\": keys[key]})\n}\n\n\nreturn [msg.payload];","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["525e796e.890d58"]]},{"id":"525e796e.890d58","type":"function","z":"4fa5abc2.2b72a4","name":"Delete key","func":"flow.set(msg.key)\nglobal.set(msg.key)\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[[]]},{"id":"4eb8b21a.a0542c","type":"comment","z":"4fa5abc2.2b72a4","name":"Good requests below. Possible statuses on the right","info":"","x":210,"y":240,"wires":[]},{"id":"6733528f.e61ebc","type":"inject","z":"5e6b9405.c6a6bc","name":"Delete Flow Context","topic":"flow","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["748c7043.3604a"]]},{"id":"748c7043.3604a","type":"function","z":"5e6b9405.c6a6bc","name":"Get all keys","func":"var keys;\nmsg.payload = [];\n\nif (msg.topic == \"flow\") {\n    keys = flow.keys()\n}\nelse {\n    keys = global.keys()\n}\n\nfor (var key in keys) {\n    msg.payload.push({\"key\": keys[key]})\n}\n\n\nreturn [msg.payload];","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["337800aa.dcabc"]]},{"id":"337800aa.dcabc","type":"function","z":"5e6b9405.c6a6bc","name":"Delete key","func":"flow.set(msg.key)\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[[]]},{"id":"c00056ac.43b908","type":"comment","z":"bfded8a5.40abc8","name":"Good requests below except where noted. Possible status codes on the right","info":"","x":290,"y":120,"wires":[]},{"id":"e699c20a.ee6bf","type":"inject","z":"85960143.23051","name":"Delete Flow Context","topic":"flow","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["b959217e.940a8"]]},{"id":"b959217e.940a8","type":"function","z":"85960143.23051","name":"Get all keys","func":"var keys;\nmsg.payload = [];\n\nif (msg.topic == \"flow\") {\n    keys = flow.keys()\n}\nelse {\n    keys = global.keys()\n}\n\nfor (var key in keys) {\n    msg.payload.push({\"key\": keys[key]})\n}\n\n\nreturn [msg.payload];","outputs":1,"noerr":0,"x":330,"y":40,"wires":[["545074ff.0de78c"]]},{"id":"545074ff.0de78c","type":"function","z":"85960143.23051","name":"Delete key","func":"flow.set(msg.key)\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":40,"wires":[[]]},{"id":"c4fe7861.28cb78","type":"inject","z":"bfded8a5.40abc8","name":"Delete Flow Context","topic":"flow","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["17dfa75b.74f209"]]},{"id":"17dfa75b.74f209","type":"function","z":"bfded8a5.40abc8","name":"Get all keys","func":"var keys;\nmsg.payload = [];\n\nif (msg.topic == \"flow\") {\n    keys = flow.keys()\n}\nelse {\n    keys = global.keys()\n}\n\nfor (var key in keys) {\n    msg.payload.push({\"key\": keys[key]})\n}\n\n\nreturn [msg.payload];","outputs":1,"noerr":0,"x":330,"y":40,"wires":[["a3249516.fbf018"]]},{"id":"a3249516.fbf018","type":"function","z":"bfded8a5.40abc8","name":"Delete key","func":"flow.set(msg.key)\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":40,"wires":[[]]},{"id":"5fbe6150.65211","type":"http request","z":"4fa5abc2.2b72a4","name":"GET /users","method":"GET","ret":"txt","url":"{{{URL}}}/users","tls":"","x":650,"y":1320,"wires":[["ff5c64dd.d658b8"]]},{"id":"8d3c9646.a29888","type":"inject","z":"4fa5abc2.2b72a4","name":"Empty Body","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1320,"wires":[["fff5461d.02bd18"]]},{"id":"fff5461d.02bd18","type":"change","z":"4fa5abc2.2b72a4","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1320,"wires":[["5fbe6150.65211"]]},{"id":"ff5c64dd.d658b8","type":"debug","z":"4fa5abc2.2b72a4","name":"405","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":1320,"wires":[]},{"id":"f35f1707.15a3a8","type":"http request","z":"4fa5abc2.2b72a4","name":"PUT /users","method":"PUT","ret":"txt","url":"{{{URL}}}/users","tls":"","x":650,"y":1380,"wires":[["22d2f902.f5d1d6"]]},{"id":"dc907417.bc2978","type":"inject","z":"4fa5abc2.2b72a4","name":"Empty Body","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1380,"wires":[["7e198973.08a868"]]},{"id":"7e198973.08a868","type":"change","z":"4fa5abc2.2b72a4","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1380,"wires":[["f35f1707.15a3a8"]]},{"id":"22d2f902.f5d1d6","type":"debug","z":"4fa5abc2.2b72a4","name":"405","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":1380,"wires":[]},{"id":"ff5550a9.fab4b","type":"http request","z":"4fa5abc2.2b72a4","name":"DELETE /users","method":"DELETE","ret":"txt","url":"{{{URL}}}/users","tls":"","x":657.7777709960938,"y":1440,"wires":[["f11c988c.143208"]]},{"id":"ca853423.f24de8","type":"inject","z":"4fa5abc2.2b72a4","name":"Empty Body","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107.77777099609375,"y":1440,"wires":[["2a84e79.7b79318"]]},{"id":"2a84e79.7b79318","type":"change","z":"4fa5abc2.2b72a4","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"headers_no_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":387.77777099609375,"y":1440,"wires":[["ff5550a9.fab4b"]]},{"id":"f11c988c.143208","type":"debug","z":"4fa5abc2.2b72a4","name":"405","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1087.7777709960938,"y":1440,"wires":[]},{"id":"b8dd1fa0.a1af8","type":"http request","z":"4fa5abc2.2b72a4","name":"GET /users","method":"GET","ret":"obj","url":"{{{URL}}}/users","tls":"","x":650,"y":300,"wires":[["1ae6601e.fd06e"]]},{"id":"c5b59494.3dec58","type":"inject","z":"4fa5abc2.2b72a4","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["63107d5d.7a14b4"]]},{"id":"f99b4e50.e7dc3","type":"debug","z":"4fa5abc2.2b72a4","name":"200","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":300,"wires":[]},{"id":"63107d5d.7a14b4","type":"change","z":"4fa5abc2.2b72a4","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"url","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":300,"wires":[["b8dd1fa0.a1af8"]]},{"id":"1ae6601e.fd06e","type":"change","z":"4fa5abc2.2b72a4","name":"","rules":[{"t":"set","p":"next","pt":"flow","to":"payload.next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":300,"wires":[["f99b4e50.e7dc3"]]},{"id":"157b7871.2469e8","type":"http request","z":"4fa5abc2.2b72a4","name":"GET /users using cursor","method":"GET","ret":"obj","url":"{{{URL}}}","tls":"","x":690,"y":360,"wires":[["2af7c89b.567d68"]]},{"id":"cdf60e1d.f9da7","type":"inject","z":"4fa5abc2.2b72a4","name":"Empty Body","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["c4b2b6c6.7d7008"]]},{"id":"ef4bd672.2d8f48","type":"debug","z":"4fa5abc2.2b72a4","name":"200, 404","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1100,"y":360,"wires":[]},{"id":"c4b2b6c6.7d7008","type":"change","z":"4fa5abc2.2b72a4","name":"Set URL, Headers","rules":[{"t":"set","p":"URL","pt":"msg","to":"next","tot":"flow"},{"t":"set","p":"headers","pt":"msg","to":"good_headers","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":360,"wires":[["76f32fa0.5834a"]]},{"id":"2af7c89b.567d68","type":"change","z":"4fa5abc2.2b72a4","name":"","rules":[{"t":"set","p":"next","pt":"flow","to":"payload.next","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":360,"wires":[["ef4bd672.2d8f48"]]},{"id":"76f32fa0.5834a","type":"switch","z":"4fa5abc2.2b72a4","name":"","property":"URL","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":360,"wires":[["157b7871.2469e8"]]},{"id":"304fb3ee.f839ec","type":"http request","z":"4fa5abc2.2b72a4","name":"DELETE /users/{user}","method":"DELETE","ret":"txt","url":"{{{URL}}}/users/{{{user_id}}}","tls":"","x":680,"y":880,"wires":[["6fa3332a.43277c"]]},{"id":"11d8d21.522122e","type":"inject","z":"4fa5abc2.2b72a4","name":"USER 1: Empty Body","topic":"user1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":860,"wires":[["9685fc4a.69d7e"]]},{"id":"6fa3332a.43277c","type":"debug","z":"4fa5abc2.2b72a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":880,"wires":[]},{"id":"3423122a.afb42e","type":"inject","z":"4fa5abc2.2b72a4","name":"USER 2: Empty Body","topic":"user2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":900,"wires":[["9685fc4a.69d7e"]]},{"id":"9685fc4a.69d7e","type":"function","z":"4fa5abc2.2b72a4","name":"Set URL, Headers, User","func":"msg.URL = global.get(\"url\");\n\nif (msg.topic == \"user1\") {\n    msg.headers = global.get(\"good_headers\");\n}\nelse {\n    msg.headers = global.get(\"good_headers2\");\n}\n\nmsg.user_id = flow.get(\"user\").id\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":880,"wires":[["304fb3ee.f839ec"]]}]